<td>
  {{#link-to 'contacts.show' item.id}}
      {{item.id}}
  {{/link-to}}
</td>
<td>{{item.name}}</td>
<td>{{item.phone}}</td>
<td>{{item.email}}</td>
<td>
    <button class="btn btn-xs btn-danger" {{action "deleteItem"}}>Delete</button>

    {{#modal-dialog action="deleteConfirmed" title="Confirmation" primerButtonLabel="Delete"}}
        <p>Are you really sure?</p>
    {{/modal-dialog}}
</td>
